@page "/"

<PageTitle>
    Minecraft Data - C#
</PageTitle>

<h1>
    Minecraft Data - C#
</h1>

@if (BlocksList is [] && 
     ItemsList is [] &&
     EffectsList is [] &&
     BiomesList is [] &&
     EntitiesList is [])
{
    <p>
        Loading data...
    </p>
}

@if (BlocksList is { Count: > 0 })
{
    <h2>Blocks</h2>

    <ul>
        @foreach (var block in BlocksList.Take(10))
        {
            <li>
                @block.displayName
            </li>
        }
    </ul>
}

@if (ItemsList is { Count: > 0 })
{
    <h2>Items</h2>

    <ul>
        @foreach (var item in ItemsList.Take(10))
        {
            <li>
                @item.displayName
            </li>
        }
    </ul>
}

@if (EffectsList is { Count: > 0 })
{
    <h2>Effects</h2>

    <ul>
        @foreach (var effect in EffectsList.Take(10))
        {
            <li>
                @effect.displayName
            </li>
        }
    </ul>
}

@if (BiomesList is { Count: > 0 })
{
    <h2>Biomes</h2>

    <ul>
        @foreach (var biome in BiomesList.Take(10))
        {
            <li>
                @biome.displayName
            </li>
        }
    </ul>
}

@if (EntitiesList is { Count: > 0 })
{
    <h2>Entities</h2>

    <ul>
        @foreach (var entity in EntitiesList.Take(10))
        {
            <li>
                @entity.displayName
            </li>
        }
    </ul>
}
