@page "/"

<PageTitle>
    Minecraft Data - C#
</PageTitle>

<h1>
    Minecraft Data - C#
</h1>

@if (PcVersionsList is [] &&
     BedrockVersionsList is [] &&
     BlocksList is [] &&
     ItemsList is [] &&
     EffectsList is [] &&
     BiomesList is [] &&
     EntitiesList is [] &&
     EnchantmentsList is [])
{
    <p>
        Loading data...
    </p>
}

@if (PcVersionsList is { Count: > 0 })
{
    <h2>Pc Versions</h2>

    <ul>
        @foreach (var version in PcVersionsList.Take(10))
        {
            <li>
                @version
            </li>
        }
    </ul>

    <div>
        <p>
            Latest: @LatestPcVersion
        </p>
    </div>
}

@if (BedrockVersionsList is { Count: > 0 })
{
    <h2>Bedrock Versions</h2>

    <ul>
        @foreach (var version in BedrockVersionsList.Take(10))
        {
            <li>
                @version
            </li>
        }
    </ul>

    <div>
        <p>
            Latest: @LatestBedrockVersion
        </p>
    </div>
}

@if (BlocksList is { Count: > 0 })
{
    <h2>Blocks</h2>

    <ul>
        @foreach (var block in BlocksList.Take(10))
        {
            <li>
                @block.DisplayName
            </li>
        }
    </ul>
}

@if (ItemsList is { Count: > 0 })
{
    <h2>Items</h2>

    <ul>
        @foreach (var item in ItemsList.Take(10))
        {
            <li>
                @item.DisplayName
            </li>
        }
    </ul>
}

@if (EffectsList is { Count: > 0 })
{
    <h2>Effects</h2>

    <ul>
        @foreach (var effect in EffectsList.Take(10))
        {
            <li>
                @effect.DisplayName (@effect.BedrockName)
            </li>
        }
    </ul>
}

@if (BiomesList is { Count: > 0 })
{
    <h2>Biomes</h2>

    <ul>
        @foreach (var biome in BiomesList.Take(10))
        {
            <li>
                @biome.DisplayName
            </li>
        }
    </ul>
}

@if (EntitiesList is { Count: > 0 })
{
    <h2>Entities</h2>

    <ul>
        @foreach (var entity in EntitiesList.Take(10))
        {
            <li>
                @entity.DisplayName
            </li>
        }
    </ul>
}

@if (EnchantmentsList is { Count: > 0 })
{
    <h2>Enchantments</h2>

    <ul>
        @foreach (var enchantment in EnchantmentsList.Take(10))
        {
            <li>
                @enchantment.DisplayName
            </li>
        }
    </ul>
}
